
div {
    padding-left: 10%;
    color:coral;
    background-color: darkgreen;
}
#s1{
    font-style: italic;
    color: chocolate;
    background-color:coral;
}
#para1{
    color:cyan;
    background-color:deeppink;
}